<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/dashboard.css">
</head>
<body>
  <header>
    <h1>Welcome to Your Dashboard</h1>
  </header>
  <main>
    <section class="user-info">
      <!-- <h2>User Information</h2> -->
      <h1>Welcome, <%= name %>!</h1>

      <ul>  
        <!-- Add more user information here -->
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem sint eum quam fugiat hic illum maiores veniam reiciendis? Corrupti molestias natus id voluptatibus odit ut ea rem, ipsa minima perferendis iste amet maiores sequi eveniet labore ullam numquam nisi cumque culpa totam laboriosam provident repellendus nihil autem! At, quam magni!
        </p>
      </ul>
      <!-- add logout link -->
      <a href="/">Logout</a>
    </section>
    <!-- Add more sections and content for your dashboard here -->
  </main>
</body>
</html>
